body{
    margin: 0;
    height:100vh
}
.layout{
    display: flex;
    flex-direction: row;
    
}
.sidenav{
    background-color: rgb(38, 4, 4);
    width: 30%;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    height: calc(100vh-40px);

        
}
.sidenav nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
    


}
.sidenav .item{
    border: 0;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    


}
.layout .content{
    width: 60% ;
    padding: 20px;
    margin: 20px;
    height: calc(100vh-40px);
    overflow: auto;
    overflow-x: hidden;

}
.cardsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
    justify-content: center;

}
.card{
    background-color:antiquewhite;
    width: calc(25%-12px);
    height: 120px;
  
}